
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: white;
  --dark: hsl(0, 0%, 20%);
  --cor1: white;
  --cor2: #14342B;
  --cor3: #049F90;

  /* Modo escuro */
  --cor1d: black;
  --cor2d: #FF5CA3;
  --cor3d: #E00061;
}

[data-theme="dark"] {
  --white: #333;
  --dark: white;
  --cor1: var(--cor1d);
  --cor2: var(--cor2d);
  --cor3: var(--cor3d);
}

.modo {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border: 2px solid var(--dark);
  border-radius: 15px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--dark);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  margin-bottom: 40px;
  margin-top: 60px;
}

li{
  margin-bottom: 10px;
}

.divCheck{
  display: flex;
  align-items: center;
}

.divCheck div{
  margin: 0 5px 0 5px;
}

.input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin-bottom: 20px;
}

.input{
  width: 60vw;
  max-width: 60vw;
  align-items: center;
  border: none;
  height: 36px;
  padding-left: 8px;
  border-radius: 15px;
  border: 1px solid var(--dark);
}

.button{
  width: calc(10vw - 10px);
  min-width: 40px;
  margin-left: 10px;
  height: 38px;
  font-size: 30px;
  border: none;
  border-radius: 15px;
  background-color: var(--dark);
  color: var(--white);
}

.jumbotron .btn:focus{
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.jumbotron:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  max-width: 90%;

  background-color: var(--cor1);
  color: var(--cor2);
  height: 83vh;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;

  color: black;
}

#fade, #modal {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  pointer-events: all;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  font-size: 1rem;
}

.modal-header #DW{
  font-size: 1.8rem;
}

.modal-header .modal-title{
  position: fixed;
  left: 80vh;
  font-size: 1.7rem;
}

.modal-header #close-modal{
  display: flex;
  justify-content: space-evenly;
  width: 2.5vw;
  height: 2.5vh;
}

.modal-body p {
  margin-bottom: 4rem;
}

.modal-body .profiles{
  display: flex;
  justify-content: center;
  gap: 7vh;
}

.modal-body .profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body .profile-image{
  width: 20vw;
  height: 40vh;
  border-radius: 5%;
}

.modal-body .profile-box{
  width: 20vw;
  height: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body .profile-name, .profile-phone{
  text-align: center;
  color: black;

  font-size: 2rem;
}

.modal-body a{
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  
}

.modal-body a:hover{
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 10px;
  transition: .1s;
}

#confetti {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

/* Classes para o estilo geral das tarefas */
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70VW;
  border-radius: 1rem;
  padding: 0.5rem;
  gap: 1rem;
  transition: all 0.3s ease;
}

.task-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.task-item .item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
}

/* Estilo para tarefas concluídas */
.task-item.checked {
  border: 2px solid var(--cor3); /* Verde */
  background-color: var(--cor3);  /* Verde */
}

.task-item.checked .item {
  text-decoration: line-through;
  color: white;
}

/* Estilo para tarefas não concluídas */
.task-item.pending {
  border: 2px solid #888; /* Cinza */
  background-color: var(--cor2);
}

.task-item.pending .item {
  text-decoration: none;
  color: #333;
}

/* Estilos para o botão de editar e excluir */
.task-item .actions {
  display: flex;
  gap: 0.5rem;
}

.task-item .actions img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

/* Contêiner da barra de progresso */
.progress{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px; /* Limita a largura máxima, pode ser ajustado conforme necessário */
  margin: 20px auto; /* Centraliza o contêiner */
  background-color: #f3f4f6; /* Cor de fundo sutil */
  border-radius: 25px; /* Bordas arredondadas */
}

/* Barra de progresso */
progress {
  width: 70vw;
  height: 25px;
  -webkit-appearance: none; /* Remove estilo padrão no Safari */
  appearance: none;
  border-radius: 20px;
  background-color: #e0e0e0; /* Cor de fundo da barra de progresso */
  z-index: 1; /* Barra de progresso tem z-index 1 */
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0; /* Cor do fundo da barra de progresso */
  border-radius: 20px;
}

progress::-webkit-progress-value {
  background-color: #4caf50; /* Cor do progresso (verde) */
  border-radius: 20px;
  transition: width 0.5s ease; /* Transição suave no preenchimento */
}

progress::-moz-progress-bar {
  background-color: #4caf50; /* Cor do progresso (verde) */
  border-radius: 20px;
  transition: width 0.5s ease; /* Transição suave no preenchimento */
}

/* Estilo do texto da porcentagem */
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o texto */
  font-size: 16px;
  font-weight: bold;
  color: white; /* Cor branca do texto */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra no texto para melhorar a visibilidade */
  z-index: 2; /* O texto da porcentagem tem z-index maior que a barra de progresso */
}

.inputNovo{
  border: none;
  height: 30px;
  border-radius: 15px;
  padding-left: 8px;
}

.buttonNovo{
  border: none;
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e9d415;
}

@media (max-width: 767px) {

  h1{
    margin: 0;
  }

  .modo{
    position: static;
    margin: 0;
    margin-left: 30px;
  }

  header{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .modo {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border: 2px solid var(--dark);
    border-radius: 15px;
  } */

  #modal {
    overflow: auto;
    overflow-x: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 90%;
  
    background-color: var(--cor1);
    color: var(--cor2);
    height: 90vh;
    background-color: #fff;
    border-radius: 0.5rem;
    z-index: 10;
  
    color: black;
  }
  
  #modal.hide {
    top: 0;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
  
    font-size: 1rem;
  }
  
  .modal-header .modal-title{
    position: normal;
    left: 80vh;
    font-size: 1.7rem;
    background-color: bla;
  }
  
  .modal-header #close-modal{
    display: flex;
    justify-content: space-evenly;
    width: 3vw;
    height: 3vh;
  }
  
  .modal-body .profiles{
    display: flex;
    flex-direction: column;
  }
  
  .modal-body .profile{
    display: flex;
    flex-direction: column;
  }
  
  .modal-body .profile-image{
    width: 60vw;
    height: 40vh;
    border-radius: 5%;
  }
  
  .modal-body .profile-box{
    width: 80vw;
    height: 22vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: -6rem;
  }
  
  .modal-body .profile-name, .profile-phone{
    text-align: center;
    color: black;
  
    font-size: 2rem;
  }
  
  .modal-body a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    
  }
  
  .modal-body a:hover{
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 10px;
    transition: .1s;
  }
}
