li{
    display: flex;
}
.delete, .editar {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.delete:hover{
    background-color: green;
}

.saida{
    width: 100px;
    height: 100px;
    background-color: aqua;
}